.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin-left: 78px;
  margin-right: 79px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.page-body {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-logo {
  font-weight: 400;
  font-size: 24px;
  color: #22202e;
  font-size: 24px;
}

.nav-top {
  width: 702px;
}

.list-top {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.item-nav-top {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
}

.nav-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 16px;
  display: flex;
}

.nav-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.nav-icon-search {
  background-image: url(/search.svg);
}

.nav-icon-cart {
  background-image: url(/shopping--cart.svg);
}

.nav-icon-user {
  background-image: url(/user--avatar.svg);
}

.nav-icon:hover,
.nav-icon:focus {
  background-color: #ccc;
  border-radius: 50%;
}

.page-header {
  display: flex;
  max-width: 1440px;
  height: 223px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #2a254b;
  padding: 0;
  width: 309px;
  height: 50px;
  margin-top: 70px;
}

.top-nav-filters {
  display: flex;
  width: 1280px;
  gap: 12px;
}

.select-menu {
  display: flex;
  margin-left: 24px;
  justify-content: space-between;

}

.cont-nav-top {
  display: flex;
  align-items: center;
width: 139px;
}

#Category {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

#Product-type {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

#Price {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

#Brand {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

.select-menu-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

#Date-added {
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

.product-card {
  display: grid;
  grid-template-rows: 462px 462px 462px 462px;
  grid-template-columns: 305px 305px 305px 305px;
  row-gap: 44px;
  column-gap: 20px;
  max-height: 1654px;
  margin-top: 28px;
}

.item-details {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #2a254b;

}

.price-detail {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2a254b;
}
.main-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 56px;
  margin-top: 48px;
  margin-bottom: 40px;
}
.main-button {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
  background-color: #f9f9f9;
  border-radius: 0;
  border: 0;
  width: 175px;
  height: 56px;
}

.registation {
  height: 521px;
  width: 1440px;
  margin-top: 8px;
  display: flex;
}

.img-registration {
  background-image: url(/join-background.jpg);
  background-size: cover;
  background-position: center;
  height: 521px;
  width: 720px;
}

.sign-up {
  height: 521px;
  width: 599px;
}

.sign-title {
  font-weight: 400;
  font-size: 32px;
  color: #2a254b;
  margin-top: 71px;
  margin-left: 49px;
}

.sign-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
  margin-top: 21px;
  margin-left: 49px;
}

.sign-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #2a254b;
  color: #f9f9f9;
  width: 163px;
  height: 56px;
  margin-top: 216px;
  margin-left: 72px;
  margin-bottom: 70px;
}

footer .container:last-of-type {
  border-top: 1px solid #09084e;
  padding-top: 22px;
  height: 0;
  margin-top: 57px;
}

.page-footer {
  background-color: #4e4d93;
  height: 380px;
}

.menu-footer {
  display: flex;
  margin-top: 58px;
}

.footer-nav-menu {
  margin-left: 0;
  margin-right: 100px;
}

.footer-nav-categories {
  margin-right: 131px;
}

.footer-nav-our {
  margin-right: 93px;
}

.title-footer {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.item-nav-menu {
  margin-bottom: 12px;
}

.container-map {
  margin-top: 60px;
  height: 100%;
}

.footer-txt {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 24px;
  margin-right: 845px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 264px;
  margin: 0 auto;
  margin-top: 22px;
}

.social-links a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
}
.social-links a.linkedin {
  background-image: url(/logo--linkedin.svg);
}
.social-links a.facebook {
  background-image: url(/logo--facebook.svg);
}
.social-links a.instagram {
  background-image: url(/logo--instagram.svg);
}
.social-links a.skype {
  background-image: url(/logo--skype.svg);
}
.social-links a.twitter {
  background-image: url(/logo--twitter.svg);
}
.social-links a.pinterest {
  background-image: url(/logo--pinterest.svg);
}
